<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BusinessTraining.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BusinessTraining.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BusinessTraining.Properties.Settings>
      <setting name="Attempt" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsManager" serializeAs="String">
        <value>False</value>
      </setting>
    </BusinessTraining.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <BusinessTraining.Properties.Settings>
      <setting name="QuestionsFile" serializeAs="String">
        <value>QuestionsFile.json</value>
      </setting>
      <setting name="CompanyBranch" serializeAs="String">
        <value />
      </setting>
      <setting name="PasswordHash" serializeAs="String">
        <value />
      </setting>
      <setting name="BotToken" serializeAs="String">
        <value>6665138934:AAHnO7oNLOGcIOYOoFkj9XYY_1AZKwA5GLM</value>
      </setting>
      <setting name="ChatId" serializeAs="String">
        <value />
      </setting>
    </BusinessTraining.Properties.Settings>
  </applicationSettings>
</configuration>